# =======================
# Google MAPS

GOOGLE_MAP_KEY = ''

GOOGLE_MAP_STYLE_MAP_ID = ''


# =======================
# Google Analytics

GOOGLE_ANALYTICS_KEY = ''


# =======================
# Contentful

CONTENTFUL_GQL_SPACE = ''

CONTENTFUL_GQL_TOKEN = ''
