# dist file at generate
node_modules/

# nuxt dev folder
.nuxt/

# dist file at generate
dist/

# jest coverage folder
coverage/

# vercel env system folder and files (at deploy)
.vercel
# file to set redirects. ignore it, it seems got issue on vercel deployment
vercel.json