$color_white: white

$color_dark_01: #2b2b2b
$color_dark_02: #797978
$color_dark_03: #1f1f1c
$color_dark_04: #464545
$color_dark_05: #6f6f6f

$color_light_01: #f3eccc

$color_main: yellow
$color_main_02: #ffd400
$color_main_03: #fdf5d0

$color_success: $green
$color_danger: #bd505b
$color_warning: $orange

// --------------------------------------
// --------------------------------------
// --------------------------------------

// --------------------------------------
// rewrite hover.css options var
$activeColor: $color_light_01

// --------------------------------------
// body as basic
$color_body_bg: $color_dark_01
$color_body_text: $color_light_01

// --------------------------------------
// header navigation
$color_navigation_bg: $color_dark_01

$color_navigation_btn: $color_main_02
$color_navigation_btn_hvr: $color_main

// --------------------------------------
// navigation overlay
$color_navigation_overlay_bg: $color_main_02
$color_navigation_overlay_border: $color_dark_04
$color_navigation_overlay_text: $color_dark_04
$color_navigation_overlay_text_hvr: $color_main_03

$color_ico_close: $color_dark_04
$color_ico_close_hvr: $color_white

// --------------------------------------
// footer
$color_footer_bg: $color_dark_03
$color_footer_border: $color_dark_01
$color_footer_text : $color_dark_04
$color_footer_link : $color_dark_05
$color_footer_link_hvr : $color_light_01

// --------------------------------------
// google map styles
$color_map_bg: $color_body_bg
$color_info_winfow_text: $color_dark_05
$color_info_winfow_title: $color_dark_01
$color_open_yes: $color_success
$color_open_no: $color_danger
$color_open_undefined: $color_dark_02

// --------------------------------------
// --------------------------------------
// SIZES
$button_navigation_width: 36px
$button_navigation_height: 30px

// --------------------------------------
// --------------------------------------
// Bootstrap: rewrite vars
$font-family-base: 'Roboto', sans-serif
$font-weight-normal: 400
$line-height-base: 2
$body-bg:       $color_body_bg
$body-color:    $color_body_text
