$color_white: white

$color_dark_001: #2b2b2b
$color_dark_002: #4c4c4c
$color_dark_03: #1f1f1c
$color_dark_04: #464545
$color_dark_05: #6f6f6f
$color_light_01: #dcdbcf

$color_main: yellow
$color_main_02: #ffd400

// --------------------------------------
// --------------------------------------
// --------------------------------------

// --------------------------------------
// body as basic
$color_body_bg: $color_dark_001
$color_body_text: $color_light_01

// --------------------------------------
// header navigation
$color_navigation_bg: $color_dark_001

$color_navigation_btn: $color_main_02
$color_navigation_btn_hvr: $color_main

// --------------------------------------
// navigation overlay
$color_navigation_overlay_bg: $color_main_02
$color_navigation_overlay_border: $color_dark_04
$color_navigation_overlay_text: $color_dark_001
$color_navigation_overlay_text_hvr: $color_white

$color_ico_close: $color_dark_001
$color_ico_close_hvr: $color_white

// --------------------------------------
// footer
$color_footer_bg: $color_dark_03
$color_footer_border: $color_dark_001
$color_footer_text : $color_dark_04
$color_footer_link : $color_dark_05
$color_footer_link_hvr : $color_light_01

// --------------------------------------
// --------------------------------------
// SIZES
$button_navigation_width: 36px
$button_navigation_height: 30px
