
$color_dark_001: #2b2b2b
$color_dark_002: #4c4c4c

$color_white: white
$color_light: #dcdbcf

$color_main: yellow
$color_main_02: gold
$color_main_03: #aba777

$color_text: $color_dark_001
$color_link: $color_text

$color_nav_bar: $color_dark_001

// nav bar overlay
$color_nav_bar_overlay_bg: $color_dark_001
$color_nav_bar_overlay_text: $color_main_03
$color_nav_bar_overlay_text_hvr: $color_main_02

// header
$color_nav_bar_bg: $color_dark_001
$color_nav_bar_text: #5a5a5a
$button_width: 36px
$button_height: 30px

$color_close_icon: $color_main_03
$color_close_icon_hvr: $color_white
