# just remainder, not need it as secret key for develop mode, but empty string

####################
# GOOGLE

GOOGLE_MAP_API_KEY        = ''

GOOGLE_ANALYTICS_KEY      = ''

GOOGLE_VERIFICATION_OWNER_KEY = ''

####################
# HEROKU EXTRA CONFIG FOR DEPLOYMENT

HOST = ''

NODE_ENV = ''

NPM_CONFIG_PRODUCTION = ''
